@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #dc2626;
  --primary-dark: #991b1b;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
  font-family: 'Inter', sans-serif;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
} 